@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

@layer components {
  .btn-primary {
    @apply bg-indigo-700 hover:bg-indigo-500 text-white font-medium py-3 px-6 rounded-lg transition-colors shadow-md;
  }

  .card {
    @apply bg-white rounded-xl shadow-lg hover:shadow-xl transition-shadow p-6;
  }

  .container {
    @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8;
  }
  h1 {
    @apply text-slate-800 font-bold text-5xl mb-6 md:text-6xl;
  }
  .btn-outline {
    @apply bg-white border-2 border-indigo-700 text-indigo-700 hover:bg-indigo-50 font-medium py-3 px-6 rounded-lg transition-colors shadow-md;
  }
  .btn-white {
    @apply bg-white text-gray-800 hover:bg-gray-100 font-medium py-3 px-6 rounded-lg transition-colors shadow-md;
  }
}

/* Animations personnalisées */
@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.6s ease-out forwards;
  opacity: 0;
}

.animated-background {
  background-size: 400%;
  -webkit-animation: animation 10s ease infinite;
  -moz-animation: animation 10s ease infinite;
  animation: animation 10s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}
